@model IEnumerable<AddressBook.Models.Contact>

@{
    ViewBag.Title = " Contacts ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Contacts </h2>

<p>
    @Html.ActionLink("New Contact", "New", "Contacts", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> Contacts </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td> @Html.ActionLink(contact.FullName,"Details", "Contacts", new { contact.Id })</td>
            </tr>
        }
    </tbody>
</table>