@model IEnumerable<AddressBook.Models.Contact>

@{
    ViewBag.Title = " Contacts ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Contacts </h2>

<p>
    @Html.ActionLink("New Contact", "New", "Contacts", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> Contacts </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
        <tr>
            <td> @Html.ActionLink(contact.FullName, "Details", "Contacts", new { contact.Id }, null)</td>


            <td>
                @Html.ActionLink("Edit", "Edit", "Contacts", new { contact.Id }, null)
                @Html.ActionLink("Delete", "Delete", "Contacts", new { contact.Id }, null)
            </td>
        </tr>

        }
    </tbody>
</table>